[Unit]
Description=Lightweight Kubernetes Server
After=network.target

[Service]
ExecStart=/usr/local/bin/k3s server {{ k3s_args }}
Restart=on-failure
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
